{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="row mb-2" style="align-items: stretch;">
        <h1>{{ category.title }}</h1>
        {% for post in posts %}
            {% include '_post_card.html.twig' with {'post': post} %}
        {% endfor %}
    </div>

    <style>
        #navigation>* {
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 20px;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
        }
    </style>

    <div id="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
