{% extends 'base.html.twig' %}

{% block title %}Blog - {{ post.title }}{% endblock %}

{% block body %}
    <article class="blog-post mb-5">
        <h2 class="display-5 link-body-emphasis mb-1">{{ post.title }}</h2>
        <div>
            <img style="max-width: 420px; max-height: 150px; float: left; margin: 0px 30px 30px 0;" src="{{ post.imgUrl }}" alt="Post image">
            <p>{{ post.content }}</p>
        </div>
    </article>



{% endblock %}
